<div class="container">
    <h3 mat-dialog-title>Crear usuario</h3>

    <form (ngSubmit)="submit" [formGroup]="usuarioFormControl" fxLayout="row wrap">
        <div fxLayout="column" fxFlex="50" style="padding-right: 10px">
            <div class="form">
                <mat-form-field color="accent" appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre del colaborador"
                        formControlName="nombre" name="nombre" required>
                </mat-form-field>
            </div>

            <div class="form">
                <mat-form-field color="accent" appearance="outline">
                    <mat-label>Crew</mat-label>
                    <input matInput placeholder="Crew" formControlName="crew" name="crew"
                        required>
                </mat-form-field>
            </div>

            <div class="form">
                <mat-form-field color="accent" appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input matInput placeholder="Usuario" formControlName="usuario"
                        name="usuario" required>
                </mat-form-field>
            </div>
        </div>

        <div fxLayout="column" fxFlex="50">

            <div class="form">
                <mat-form-field color="accent" appearance="outline">
                    <mat-label>Rol Interbank</mat-label>
                    <input matInput placeholder="Rol Interbank" formControlName="rol"
                        name="rol" required>
                </mat-form-field>
            </div>

            <div class="form">
                <mat-form-field color="accent" appearance="outline">
                    <mat-label>Tipo de permisos</mat-label>
                    <mat-select (selectionChange)="selectTypePermissions($event.value)" formControlName="permisos">
                        <mat-option *ngFor="let permiso of typesPermissions" [value]="permiso.value">
                            {{permiso.viewValue}} 
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form">
                <mat-form-field color="accent" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput placeholder="Contraseña" formControlName="password"
                        name="password" required>
                </mat-form-field>
            </div>
        </div>

        <div fxLayout="row">
            <div mat-dialog-actions>
              <button mat-raised-button [type]="submit" [disabled]="!usuarioFormControl.valid"
                (click)="onSubmit()">Guardar</button>
              <button mat-button [mat-dialog-close]="1" tabindex="-1">Cancelar</button>
            </div>
          </div>

    </form>
</div>