
    <h2 mat-dialog-title>{{title}}</h2>
    <mat-dialog-content>
        <p>{{object}}</p>
    </mat-dialog-content>
    <mat-dialog-actions [attr.align]="actionsAlignment">
        <button
          mat-raised-button
          color="primary"
          mat-dialog-close>Cerrar</button>
      </mat-dialog-actions>
<!--    
    <form [formGroup]="aplicacionFormControl">
    <div class="container">
        <div fxLayout="row wrap">
            <div fxLayout="row" flex fxFlex="100">
                <h3 mat-dialog-title>Programa HOST > {{data.programa}}</h3>
            </div>


            <div style="padding-bottom: 20px" fxFlex="100">
                <div fxLayout="column" flex fxFlex="50" style="padding-right: 10px">
                    <mat-card class="r-card">
                        <mat-card-header>
                            <mat-card-title>Entrada</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div [innerHTML]="data.entrada | safe:'html'"></div>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div fxLayout="column" flex fxFlex="50">
                    <mat-card class="r-card">
                        <mat-card-header>
                            <mat-card-title>Salida</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div [innerHTML]="data.salida | safe:'html'"></div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

        </div>
        <div fxLayout="row" fxFlex="100">
            <div fxLayout="column" fxFlex="50" style="padding-right: 10px">
                <div fxLayout="row" flex fxFlex="50" >
                    <mat-form-field appearance="outline">
                        <mat-label>Codigo BUS</mat-label>
                        <input readonly matInput placeholder="Placeholder" formControlName="bus_codigo"
                            name="bus_codigo">
                    </mat-form-field>
                </div>
                <div fxLayout="row" flex fxFlex="50">
                    <mat-form-field appearance="outline">
                        <mat-label>Version BUS</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="bus_version" name="bus_version">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="column" fxFlex="50">
                <div fxLayout="row" flex fxFlex="50">
                    <mat-form-field appearance="outline">
                        <mat-label>Framework BUS</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="bus_framework" name="bus_framework">
                    </mat-form-field>
                </div>
                <div fxLayout="row" flex fxFlex="50">
                    <mat-form-field appearance="outline">
                        <mat-label>Identificador BUS</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="bus_identificador"
                            name="bus_identificador">
                    </mat-form-field>
                </div>
            </div>
        </div>


    </div>
</form>
-->