<div style="padding: 20px;">

    <p>Usuarios</p>

    <div fxLayout="row">
        <mat-form-field appearance="outline" fxFlex="70">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar usuario">
        </mat-form-field>
        <button class="add-user" mat-raised-button color="primary" (click)="agregarUsuario()">NUEVO USUARIO</button>
    </div>

    <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef style="text-align: left !important"> Colaborador</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="crew">
                <mat-header-cell *matHeaderCellDef style="text-align: left !important"> Crew</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.crew}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef style="text-align: left !important"> Usuario</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="rolInterbank">
                <mat-header-cell *matHeaderCellDef style="text-align: left !important"> Rol</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.rolInterbank}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                </mat-header-cell>

                <mat-cell *matCellDef="let row; let i=index;">
                    <button mat-icon-button style="color: #4CAF50" (click)="eliminarUsuario(row._id)">
                        <mat-icon aria-label="Eliminar">delete</mat-icon>
                    </button>

                    <button mat-icon-button style="color: #4CAF50" (click)="informacionUsuario(row)">
                        <mat-icon aria-label="receipt">description</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>