.add-user {
    height: 50px;
    margin-left: 50px;
    margin-top: 7px;
}

.example-form mat-slide-toggle {
    margin: 8px 0;
    display: block;
  }

  .example-container {
    height: 400px;
    overflow: auto;
  }

  .mat-column-usuario {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    width: 28% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }