<div class="container">
  <h3 mat-dialog-title>Agregar nueva Aplicación HOST</h3>

  <form (ngSubmit)="submit" [formGroup]="aplicacionFormControl" fxLayout="row wrap">

    <div fxLayout="column" fxFlex="50" style="padding-right: 10px">
      <div class="form">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput #input class="form-control" placeholder="Nombre del Aplicativo Host"
            formControlName="aplicacion" name="nombre" required>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Objetivo</mat-label>
          <textarea matInput #input class="form-control" placeholder="Objetivo del Aplicativo Host"
            formControlName="objetivo" name="objetivo" required></textarea>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Custodio</mat-label>
          <input matInput #input class="form-control" placeholder="Custodio del Aplicativo Host"
            formControlName="custodio" name="custodio" required>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Plataforma</mat-label>
          <input matInput #input class="form-control" placeholder="Plataforma del Aplicativo Host"
            formControlName="plataforma" name="plataforma" required>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="column" fxFlex="50">
      <div class="form">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Funcionalidad</mat-label>
          <textarea matInput #input class="form-control" placeholder="Funcionalidad del Aplicativo Host"
            formControlName="funcionalidad" name="funcionalidad" required matAutosizeMinRows=1
            matAutosizeMaxRows=20></textarea>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Información</mat-label>
          <textarea matInput #input class="form-control" placeholder="Información del Aplicativo Host"
            formControlName="informacion" name="informacion" required></textarea>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <div mat-dialog-actions>
        <button mat-raised-button [type]="submit" [disabled]="!aplicacionFormControl.valid" [mat-dialog-close]="1"
          (click)="submit()">Guardar</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
      </div>
    </div>
  </form>
</div>