<div class="container-login center-h center-v">
    <div class="mx-auto form-login container-fluid">
      <mat-card class="center-block container-login-form">
        <mat-card-header class="justify-content-center header-login">
          <mat-card-title class="text-center title-login-form">
            <strong>Host Interface Manager</strong> 
            </mat-card-title>
          <div class="dropdown-divider"></div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="d-flex flex-column justify-content-between py-3">
          <form
            action=""
            [formGroup]="form"
            class="form-login-input"
            (ngSubmit)="onSubmit()"
          >
            <div class="d-flex flex-column py-2">
              <label for="username" class="title-item"> Usuario</label>
              <div class="d-flex flex-column">
                <input
                  matInput
                  id="username"
                  class="form-control-sm input-login"
                  type="text"
                  placeholder="Escriba su usuario"
                  formControlName="username"
                />
              </div>
            </div>
            <div class="d-flex flex-column  py-2">
              <label for="password" class="title-item"> Contraseña</label>
              <div
                class="d-flex flex-row justify-content-center align-items-center form-control-sm input-login"
              >
                <input
                  matInput
                  id="password"
                  class="input-pwd"
                  style="text-transform: none !important"
                  placeholder="ESCRIBA SU CONTRASEÑA"
                  formControlName="password"
                  #txtPassword
                  (keyup.enter)="form.valid ? onSubmit() : null"
                  [type]="hidePassword ? 'password' : 'text'"
                />
                <mat-icon
                  matSuffix
                  id="hidePassword"
                  class="icon-visibility"
                  (click)="hidePassword = !hidePassword"
                >
                  {{ hidePassword ? 'visibility_off' : 'visibility' }}
                </mat-icon>
              </div>
            </div>
          </form>
        </mat-card-content>
        <mat-card-footer
          class="d-flex flex-column justify-content-center py-3 footer-login"
        >
          <button
            mat-flat-button
            color="primary"
            id="submit"
            type="submit"
            class="button-primary-event border-box"
            [disabled]="form.invalid || isSubmitting"
            (click)="onSubmit()"
          >
            INICIAR SESIÓN
          </button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>