.container-login {
    background-color: #00bb31;
    .mat-card-title {
      margin-bottom: 0;
    }
  }
  .form-control-sm {
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
  input {
    text-transform: uppercase !important;
  }
  .logo-login{
    position: absolute;
    padding: 30px 55px;
    z-index: 9999;
  }
  
  #cf {
    position:relative;
    height:281px;
    width:450px;
    margin:0 auto;
  }
  
  #cf img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  
  #cf img.top:hover {
    opacity:0;
  }
  
  body {
    background: #111; 
   }
   ul {
     list-style: none;
     margin: 0 auto;
     padding: 0;
     width:100%;
   }
   li {
     position: absolute;
   }
   li:nth-child(4) {
    animation: xfade 16s 0s infinite;
  }
  li:nth-child(3) {
    animation: xfade 16s 4s infinite;
  }
  li:nth-child(2) {
    animation: xfade 16s 8s infinite;
  }
  li:nth-child(1) {
    animation: xfade 16s 12s infinite;
  }
   @keyframes xfade{
     17% {
       opacity:1;
     }
     25% {
       opacity:0;
     }
     92% {
       opacity:0;
     }
   }
  
  .crossfade-img {
    width: 100%;
    height:100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
  }
  
  .frase{
    max-width: 423px;
    position: absolute;
    top: 210px;
    left: 55px;
    z-index: 9999;
  }
  
  .title-login-form {
    font-family: 'BebasNeue', Arial;
    font-size: 31px !important;
  }
  
  #hidePassword{
    color: black !important;
  }
  
  ::placeholder { 
    color: black;
  }