.menu-style{
    background-color:white;
    /* flex-wrap: wrap; */
    height: calc(100vh - 64px);
    display: grid;
    align-items: start;
    justify-items: start;
    grid-template-columns: 12rem 24px;
    overflow: hidden;
}

.menu-style.hideShow{
    grid-template-columns: 64px 24px;
}

.menu-style * {
    overflow: hidden;
}

.menu-style h4{
    font-size: .9rem;
    font-family: "Omnes Medium";
    font-weight: 700;
    padding: 1rem 0 1rem 0.9rem;
}

#myMenu{
    overflow: hidden;
}

.hideShow #myMenu {
    text-align: center;
    width: 100%;
}

.hideShow button{
    display: block;
    margin: 0 auto;
}

#myMenu .mat-icon{
    height: auto;
      margin-right: .6rem;
}
.hideShow #myMenu .mat-icon{
    margin: 0;
}
.hideShow #myMenu button{
    margin: 1rem auto;
}
#myMenu .mat-button{
    margin-bottom: .7rem;
}
.sideNavContent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hideShowMenu {
    display: grid;
    height: calc(100vh - 64px);
    align-items: center;
    cursor: pointer;
    background: #fcfcfc;
}
.hideShowMenu:hover {
    background: #f0f0f0;
}


/* tamaño maximo de tablet */
@media screen and (max-width: 955px) {
    .sideNavContent.menuOculto {
        display: none;
        grid-template-columns: 1px calc(100vw - 1px);
    } 
}

/*tamaño maximo de mobile pantalla grande */
@media screen and (max-width:660px) {
    .menu-style{
        
        display: none;
    }
}

/*tamaño maximo de mobile pantalla pequeña*/
@media screen and (max-width:320px) {
   
}