<!--
<div class="menu-style" [class.hideShow]="flag">
    <div id="myMenu">
      <h4 *ngIf="!flag" >Selecciona una aplicación para empezar</h4>
      <div>
        <button *ngIf="!flag" mat-button>
            <mat-icon svgIcon="tarjetaCredito" aria-label="credito"></mat-icon>
            $RM
        </button>
        <button *ngIf="flag" mat-icon-button matTooltip="$RM">
            <mat-icon svgIcon="tarjetaCredito"></mat-icon>
        </button>
        <button *ngIf="!flag" mat-button>
            <mat-icon svgIcon="tarjetaDebito" aria-label="debito"></mat-icon>
            CCE
        </button>
        <button *ngIf="flag" mat-icon-button matTooltip="CCE">
            <mat-icon svgIcon="tarjetaDebito"></mat-icon>
        </button>
        <button *ngIf="!flag" mat-button>
            <mat-icon svgIcon="prestamo" aria-label="prestamo"></mat-icon>
            CRM
        </button>
        <button *ngIf="flag" mat-icon-button matTooltip="CRM">
            <mat-icon svgIcon="prestamo"></mat-icon>
        </button>
        <button *ngIf="!flag" mat-button>
            <mat-icon svgIcon="seguros" aria-label="seguros"></mat-icon>
            GAC
        </button>
        <button *ngIf="flag" mat-icon-button matTooltip="GAC">
            <mat-icon svgIcon="seguros"></mat-icon>
        </button>
        <button *ngIf="!flag" mat-button>
            <mat-icon svgIcon="campanas" aria-label="campanas"></mat-icon>
            PRO
        </button>
        <button *ngIf="flag" mat-icon-button matTooltip="PRO">
            <mat-icon svgIcon="campanas"></mat-icon>
        </button>
      </div>
    </div>
    <div class="sideNavContent">
      <div class="hideShowMenu" (click)="hideShowMenu()">
        <div>
          <span class="boton-menu-lateral" >
            <mat-icon *ngIf="!flag">keyboard_arrow_left</mat-icon>
            <mat-icon *ngIf="flag">keyboard_arrow_right</mat-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
  -->