<div class="container">
  <h3 mat-dialog-title>Agregar nuevo Programa</h3>

  <form (ngSubmit)="submit" [formGroup]="aplicacionFormControl" fxLayout="row wrap">
    <div fxLayout="column" fxFlex="50" style="padding-right: 10px">
      <div class="form">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Nombre Programa</mat-label>
          <input matInput placeholder="Nombre del Programa Host" formControlName="programa"
            name="programa" required>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Funcionalidad</mat-label>
          <textarea matInput placeholder="Funcionalidad del Programa Host"
            formControlName="funcionalidad" name="funcionalidad" required></textarea>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Codigo BUS</mat-label>
          <input matInput placeholder="Codigo BUS" formControlName="bus_codigo"
            name="bus_codigo" required>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Version BUS</mat-label>
          <input matInput placeholder="Version del BUS" formControlName="bus_version"
            name="bus_version" required>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Framework</mat-label>
          <input matInput placeholder="Framework BUS" formControlName="bus_framework"
            name="bus_framework" required>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="column" fxFlex="50">

      <div class="form">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>API</mat-label>
          <input matInput placeholder="API" formControlName="api" name="api" required>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Entrada</mat-label>
          <textarea matInput placeholder="Entrada" formControlName="entrada" name="entrada"
            required matAutosizeMinRows=1 matAutosizeMaxRows=20></textarea>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Salida</mat-label>
          <textarea matInput placeholder="Salida" formControlName="salida" name="salida"
            required></textarea>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Identificador</mat-label>
          <input matInput placeholder="Identificador BUS"
            formControlName="bus_identificador" name="bus_identificador" required>
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <div mat-dialog-actions>
          <app-file-upload (complete)="onFileComplete($event)"></app-file-upload>
          <button mat-raised-button [type]="submit" [disabled]="!aplicacionFormControl.valid" [mat-dialog-close]="1"
            (click)="submit()">Guardar</button>
          <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
        </div>
      </div>

    </div>
  </form>
</div>