/* Structure */
@import '~@angular/material/theming';
@include mat-core();
table {
    width: 100%;;
  }

  
/* valign */
td { 
    vertical-align: top; }

td.mat-column-star {
    width: 20px;
    padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
}

.mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
}
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-row {
    height: auto;
  }
  

  .mat-column-programa {
    flex: 0 0 300px;
  }

  .mat-column-api {
    flex: 0 0 200px;
    margin-left: 50px;
  }

  .mat-column-bus_codigo {
    margin-left: 30px;
    flex: 0 0 200px;
  }

  .mat-column-funcionalidad {
    margin-left: 30px;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #4CAF50 !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #4CAF50!important;
}

.card-programa {
  max-width: 400px;
  margin-bottom: 15px !important;
}

.elevated {
  @include mat-elevation-transition;
  @include mat-elevation(2);

  &:hover {
    @include mat-elevation(6);
  }
}

.add-programa {
  height: 50px;
  margin-left: 10px;
  margin-top: 3px;
}