<!--
<div style="padding: 10px;">
  <div fxLayout="row">
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="searchText" placeholder="Buscar Programa">
    </mat-form-field>
    <button class="add-programa" mat-raised-button color="primary" (click)="agregarPrograma()">PROGRAMA</button>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="20px" style="margin-top: 15px;">
    <mat-card class="card-programa elevated" *ngFor="let item of list | filter : searchText" >
      <div fxLayout="row">
        <div fxFlex="90">
          <mat-card-title>{{item.programa}}</mat-card-title>
        </div>
        <div fxFlex="10">
          <button #r="matMenuTrigger" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item (click)="descargar(item.programa)">
              <mat-icon>get_app</mat-icon>
              <span>Documentación</span>
            </button>
            <button mat-menu-item *ngIf="(roleUser === 'ADMIN_ROLE' || roleUser === 'ORG_ADMIN_ROLE')"
              (click)="editarPrograma(item)">
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <mat-card-content *ngIf="item.new == false">
        <p style="font-weight: bold;">Funcionalidad</p>
        <p>
          {{item.funcionalidad}}
        </p>
        <div>
          <p style="display: inline-block;font-weight: bold;">Código Servicio BUS :</p>
          <p style="display: inline-block;">{{item.bus_codigo}}</p>
        </div>
        <div>
          <p style="display: inline-block;font-weight: bold;">Versión BUS :</p>
          <p style="display: inline-block;">{{item.bus_version}}</p>
        </div>
        <div>
          <p style="display: inline-block;font-weight: bold;">Framework BUS :</p>
          <p style="display: inline-block;">{{item.bus_framework}}</p>
        </div>
        <div>
          <p style="display: inline-block;font-weight: bold;">Identificador en BUS :</p>
          <p style="display: inline-block;">{{item.bus_identificador}}</p>
        </div>
        <div>
          <p style="display: inline-block;font-weight: bold;">API :</p>
          <p style="display: inline-block;">{{item.api}}</p>
        </div>
      </mat-card-content>
      <mat-card-actions *ngIf="item.new == false">
        <button mat-raised-button color="primary" (click)="obtenerEntrada(item)">
          <mat-icon>arrow_upward</mat-icon> ENTRADA
        </button>
        <button mat-raised-button color="primary" (click)="obtenerSalida(item)">
          <mat-icon>arrow_downward</mat-icon> SALIDA
        </button>
        <button mat-raised-button color="accent" *ngIf="tipoAplicativo=='1'" [routerLink]="['/programa', 'SRMR011']">
          <mat-icon>description</mat-icon> COPY
        </button>
      </mat-card-actions>
      <div *ngIf="item.new == true" style="height: 291px; width: 342px;text-align: center;line-height: 291px;">
        El programa aún no contiene información disponible.
      </div>
    </mat-card>
  </div>

</div>-->
<div class="container">
<ct-visualization id="tree-container"></ct-visualization></div>