<div>
    <h3 mat-dialog-title>{{data.title}}</h3>
    <div mat-dialog-content>
        <p>{{data.subtitle}}</p>
    </div>
    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="1">Cerrar</button>
    </div>
</div>