<div class="container">
  <div fxLayout="row wrap">
    <div fxLayout="row" flex fxFlex="100">
        <h3 mat-dialog-title >{{data.aplicacion}}</h3>
    </div>
    <div fxLayout="column" flex fxFlex="50" style="padding-right: 10px">
      <mat-card class="r-card">
        <mat-card-header>
          <mat-card-title>Información</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div [innerHTML]="data.informacion | safe:'html'"></div>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxLayout="column" flex fxFlex="50">
      <mat-card class="r-card">
        <mat-card-header>
          <mat-card-title>Funcionalidad</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div [innerHTML]="data.funcionalidad | safe:'html'"></div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>