<div class="container">
    <h3 mat-dialog-title>Información usuario</h3>

    <form (ngSubmit)="submit" [formGroup]="usuarioFormControl" fxLayout="row wrap">
        <div fxLayout="column" fxFlex="50" style="padding-right: 10px">
            <div class="form">
                <mat-form-field color="accent" appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre del Programa Host" formControlName="nombre" name="nombre"
                        required>
                </mat-form-field>
            </div>

            <div class="form">
                <mat-form-field color="accent" appearance="outline">
                    <mat-label>Crew</mat-label>
                    <input matInput placeholder="Crew" formControlName="crew" name="crew" required>
                </mat-form-field>
            </div>

            <div class="form">
                <mat-form-field color="accent" appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input matInput placeholder="Usuario" formControlName="usuario" name="usuario" required>
                </mat-form-field>
            </div>
        </div>

        <div fxLayout="column" fxFlex="50">

            <div class="form">
                <mat-form-field color="accent" appearance="outline">
                    <mat-label>Rol Interbank</mat-label>
                    <input matInput placeholder="Rol Interbank" formControlName="rol" name="rol" required>
                </mat-form-field>
            </div>

            <div class="form">
                <mat-form-field color="accent" appearance="outline">
                    <mat-label>Permisos</mat-label>
                    <input matInput placeholder="Permisos" formControlName="permisos" name="permisos" required>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>