<h2 mat-dialog-title>{{tittle}}</h2>
<mat-dialog-content>
    <pre>{{object | xml}}</pre>
</mat-dialog-content>
<mat-dialog-actions [attr.align]="actionsAlignment">
    <button mat-raised-button color="primary" mat-dialog-close>Cerrar</button>
</mat-dialog-actions>