<div>
  <h3 mat-dialog-title>{{data.title}}</h3>
  <div mat-dialog-content>
    <p>{{data.subtitle}}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button  (click)="confirmDelete()" color="warn">{{data.accion}}</button>
    <button mat-button [mat-dialog-close]="1">Cancelar</button>
  </div>
</div>
