<div style="padding: 20px;">
    <div>
        <form class="example-form" #form="ngForm" (ngSubmit)="onFormSubmit()" ngNativeValidate>

            <p>Actualización del Host interface manager.</p>
            <mat-slide-toggle ngModel name="enableUpdates" (change)="onChangeSlideToggle($event)" [checked]="checkedUpdatesSlide">Habilitar la actualización automatica</mat-slide-toggle>
            <button mat-raised-button (click)="actualizarConfiguracion()">Guardar cambios</button>
        </form>
    </div>
    <div>
        <p>Historial de cambios (Ultima actualización : {{lastUpdate}})</p>

        <div class="example-container mat-elevation-z8" *ngIf="checkedUpdates">
            <mat-table [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="orden">
                    <mat-header-cell *matHeaderCellDef style="text-align: left !important"> No. </mat-header-cell>
                    <mat-cell *matCellDef="let element ; let i=index;"> {{i+1}} </mat-cell>
                </ng-container>

                <!-- Position Programa -->
                <ng-container matColumnDef="programa">
                    <mat-header-cell *matHeaderCellDef style="text-align: left !important"> Programa </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.programa}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="fecha">
                    <mat-header-cell *matHeaderCellDef style="text-align: left !important"> Fecha </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.fecha}} </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="ambiente">
                    <mat-header-cell *matHeaderCellDef style="text-align: left !important"> Ambiente </mat-header-cell>
                    <mat-cell *matCellDef="let element"> UAT </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                    </mat-header-cell>

                    <mat-cell *matCellDef="let row; let i=index;">

                        <button mat-icon-button style="color: #4CAF50" (click)="aprovarCambio(row)">
                            <mat-icon aria-label="Aprovar">done</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>
</div>