.app-tool-bar {

    padding-right: 0px;
    display: flex;
}

.buttonUsuario .mat-icon {
    margin: .2em 0 .2em 0;
}
.icon-menu-principal{
  height: 21px;  
}
.col-4 {
    padding-left: 0;
}

.icon-style {
    vertical-align: unset !important;
    margin-right: 1em;
}
.g-body-style {
   height: 64px;
}
.mat-toolbar.mat-primary {
    background: #009B3A;
    color: #fff;
}

.mat-toolbar-row {
    padding: 0px !important;
}

.mat-badge-active {
    background: #E0010A;
    width: 15px;
    height: 15px;
    line-height: 2em;
    margin-top: 2.4em;
    margin-right: 1em;
    font-size: 0.6em;
    position: absolute;
}

.mat-toolbar-single-row {
    padding: 0 !important;
}

.toolbar-title {
    margin: 0;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.sideNavContent {
    display: grid;
    grid-template-columns: calc(12rem + 24px) calc(100vw - calc(12rem + 24px));
    align-items: center;
    justify-items: start;
    grid-template-rows: calc(100vh - 64px);
    /* transition: 1.3s; */
}

.sideNavContent.noAuth {
    grid-template-columns: 100vw;
    justify-items: center;
}

.sideNavContent.menuOculto {
    grid-template-columns: 88px calc(100vw - 88px);
}

.sideNavContent.hideShow {
    grid-template-columns: 150px 70px calc(100vw - 220px);
}

.sideNavContent .content {
    /* padding: 1rem 3rem; */
    width: 100%;
    display: block;
}

.routerOulet {
    width: 100%;
    height: calc(100vh - 64px);
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

.linkActivo {
    box-shadow: none;
    box-shadow: inset 0px -5px #0039A6;
    overflow: hidden;
}

.espacioAutomatico {
    flex: 1 1 auto;
}

.g-logo-style {
    padding: 0 0 0 1rem;
    margin-left: 3px;

}

.Grid-nav-opcions div {
    display: inline;
    padding: 8px 3px;
}

.Grid-nav-opcions div button {
    border-radius: 0;
    height: 64px;

}

.grid-opcion-user {
    height: auto !important;
    background-color: #0039A6;
    border-radius: 20px !important;
    font-size: 10px;
}

button:focus {
    outline: none;
}

.menu-mobile-footer{
    display: none;
}
.button-menu-phone button{
    display: none;
}
/* tamaño maximo de tablet */
@media screen and (max-width: 955px) {
    

    .grid-opcion button .g-text-hide {
        display: none;
    }

    .grid-opcion div {
        padding: 0;
    }

    .Grid-nav-opcions div {
        padding: 0;
    }

    .grid-opcion-user {
        padding: 8px 0 !important;
    }

    .icon-style {
        margin: 0 1em;
    }

}


/*tamaño maximo de mobile pantalla grande */
@media screen and (max-width:660px) {
    .icon-style {   
          margin: 0;}
        .sideNavContent {
        grid-template-columns: 0px calc(100vw - 0px);
        grid-template-rows: calc(100vh - 64px);
    }
    .sideNavContent.menuOculto {
        grid-template-columns: 0px calc(100vw - 0px);}

    .chat-opcion-nav,
    .directory-opcion-nav,
    .procesos-opcion-nav,
    .user-opcion-nav {
        display: none !important;
    }
    .g-logo-style {
        padding: 0 ;
        margin-left: 0;
    
    }
    .g-logo-style div {
        display: flex;
        width: calc(100vw - 160px);
        justify-content: center;
    }

    .menu-mobile-footer {
        display: grid;
        width: 100%;
        grid-template-columns: 33.3% 33.3% 33.3%;;
        align-items: center;
        justify-content: center;
        justify-items: center;
        background: white;
    }

    .menu-mobile-footer .icon-style {
        margin-bottom:10px;
    }

    .routerOulet {
        height: calc(100vh - 128px);
    }

    .content {
        display: grid;
        grid-auto-columns: 2fr 64px;
    }
    .menu-mobile .mat-button{
    line-height: 0px;
}
.menu-mobile button{
    display: flex;
}
.menu-mobile button span{
    display: grid;
    margin-bottom: 5px;
}
.button-menu-phone button{
    display: flex;
}
.button-menu-phone button {
    margin-left:15px;
}

.logo-tool-bar svg{
    height: 22px;
}
}

@media screen and (max-width:480px) {
    .sideNavContent {
        grid-template-columns: 0px calc(100vw - 0px);
        grid-template-rows: calc(100vh - 56px);
    }
}
/*tamaño maximo de mobile pantalla pequeña*/
@media screen and (max-width:320px) {
    .menu-mobile button span{
        display: none;
    }
    .logo-tool-bar svg{
        height: 18px;
    }
}


.example-container {
    height: 100%;
  }
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .example-sidenav {
     user-select: none;
  }
  .full-width {
    width: 100%;
  }
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }