@import './scss/uikit'
@import './scss/dialog'
@import './scss/variables'
@import './scss/assign'
@import './scss/forms'
@import './scss/style'

/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar
  width: 10px
  background-color: #eaeaea

::-webkit-scrollbar-track
  //-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.2)
  //background-color: $border

::-webkit-scrollbar-thumb
  background: #ced0d4
::-webkit-scrollbar-thumb:hover
  background: #babbbf 
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2)
::-webkit-scrollbar-thumb:active
  //background-color: border

html, body
  height: 100%

body
  background: $body-bg
  margin: 0px
  padding: 0px

.main-container
  margin: 0
  padding: 16px
  width: 100%

.card-modal
  max-width: 300px
  button
    mat-icon
      margin: 0px 5px 2px
      color: $colorSecondary

.flex-item-f-c-s-w
  align-items: center
  display: flex
  justify-content: center
.flex-section-f-cl
  display: flex
  flex-direction: column
label
  margin: 0rem .4rem 0rem 0rem !important

input, select, optgroup, textarea, mat-select
  // border: $border
  outline: none
  // customer
.container-input-text
  align-items: flex-start
  display: flex
  flex-direction: column
  margin: 6px 0px
  
.input-sm
  width: 70px !important
.form-control-sm
  box-shadow: none !important
  border: .5px solid #c3c3c3 !important
.form-control
  box-shadow: none !important
  border: .5px solid #ced4da !important
p
  margin: 9px 0px !important
.mat-dialog-container
  font-family: Roboto, "Helvetica Neue", sans-serif
  font-size: 14px !important
.title-forms
  font-weight: 500
.input-height
  height: calc(1.8125rem + 2px)
.mat-datepicker-toggle, .mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button
  //color: $colorPrimary !important
  outline: none !important

/* icons*/
mat-icon
  cursor: pointer
.icon-delete
  -webkit-transition: transform 0.5s
  transition: transform 0.5s
.icon-delete, .icon-edit
  outline: none !important
  cursor: pointer
  background: #ffffff !important
  border: none
  color: #757575 !important
  font-weight: 800

.icon-delete:hover
  -webkit-transform: rotateZ(360deg)
  transform: rotateZ(360deg)
// label
.lbel 
  width: 100%
  margin-left: 0rem !important

.lbel-stock 
  margin-left: 0rem !important
  text-align: start  


/* button*/
button
  //box-shadow: $borderBox
  border-radius: .2em
  outline: none!important
.mat-icon-button
  line-height: 40px !important
.section-button, .section-button-transaction
  margin: .5rem 0rem 0rem !important
  padding: 0rem !important
.section-button
  button
    margin: .5rem 0rem
    min-width: fit-content
    width: 50% !important
.section-button-transaction
  button, app-modal-call
    width: 100% !important

// botones primarios

.button-primary-event
  // background: $colorPrimary !important
  // color: #fff !important
  border-radius: .4em
  -webkit-transition: border-radius 0.5s
  transition: border-radius 0.5s
.button-primary-event:hover
  border-radius: 1.2em

  //botones secundarios
.b-s
  -webkit-transition: border-radius 0.5s
  transition: border-radius 0.5s
.b-s:hover
  border: 1px solid $colorPrimary !important
  color: $colorPrimary
  border-radius: 1.2em
.menu-item-nav 
  min-width: 180px !important
  overflow: hidden !important

mat-option
  font-size: 14px !important
// table order
th.mat-header-cell
  text-align: center !important
.name-view
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
.container-name
  align-items: center
  justify-content: flex-start
// detail
.mat-list-item
  height: 41px !important
.mat-list-option
  height: 36px !important
  font-size: 14px !important
  //encabezado del step
.mat-tab-label
  height: 40px !important
.mat-error-message
  position: absolute
  background: #dc3545
  padding: 3px 1rem
  border-radius: .4em
  font-size: 11px
  color: #fff !important
  z-index: 800
.mat-error
  padding: 0em
  font-size: 11px
  color: #dc3545 !important
.title-item
  margin: 0rem .4rem .2rem 0rem !important
.t-c
  display: flex
  flex-wrap: wrap
  font-size: 12px

.login-lorgot a
  width: 100%
  text-align: center
.border-box
  border: $border
  box-shadow: none !important
// login
.container-login
  padding: 12px
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  height: -webkit-fill-available
  
.center-h 
  justify-content: center

.center-v 
  align-items: center

.form-login 
  max-width: 500px
  margin: auto
  //background: white
  //box-shadow: 1px 2px 9px 0px #9E9E9E
  border-radius: .8em

.container-login-form
  color: #0038a5
  background-color: #edecec
  width: 100%
  padding: 1.5em 4em !important

.form-login-input
  padding-top: 14px
.input-login
  align-items: center
  height: 40px !important
  background-color: rgba(0, 0, 0, 0.12)
  color: black
  input
    background-color: transparent
.icon-visibility
  color: #5e5f62 !important

.icon-visibility:hover
  cursor: pointer

.input-pwd
  border: none !important
  width: 95%
  color: black

.header-login
  padding-bottom: 1.5em

.footer-login
  margin: 0px !important
.title
  text-align: center

.form-control
  font-size: 14px !important

.container-fluid 
  width: 100% !important
  padding-right: 0px !important
  padding-left: 0px !important
.mat-card
  font-size: 14px

.mat-card-header .mat-card-title 
  margin-bottom: 0px
.mat-card-content 
  margin-bottom: 0em !important
// fin login
//sidenav
.power_settings_new
  width: 256px !important

.mat-autocomplete-border
  border: .5px solid #ced4da
  border-top: none
  max-height: 200px !important

#order-list
  label.mat-radio-label
    margin: 0 !important
    .mat-radio-label-content
      display: none !important

.container-forms 
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  justify-content: space-between
  width: 100%

.card-button 
  align-items: center
  display: flex
  flex-direction: row
  justify-content: flex-end
  button 
    margin: 0px 6px !important
.mat-list-text
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden

.main-sidenav
  .mat-sidenav-content > * > div:not(.isSubmitting):not(.container-login):not(.home-container)
    margin-top: 40px
    margin-bottom: 55px + 40px
  .mat-sidenav-content > * > div+div
    margin-top: -80px !important
  .mat-sidenav
    .mat-expansion-indicator
      display: none
    .mat-content, .mat-list-item-content
      align-items: center
      display: flex
      height: 100%
    .mat-expansion-panel-body
      padding: 0 !important
    .mat-list-item-content
      padding: 0 24px !important
    .mat-list-item
      height: 34px !important
  .mat-toolbar
    width: calc(100% - 74px)
  &.opened
    .mat-toolbar
      width: calc(100% - 250px)
  &.page- .mat-toolbar
    width: 100% !important

@media (max-width: 700px)
  .mat-toolbar, &.opened .mat-toolbar
    width: 100% !important
    h1
      padding-left: 35px
  .main-sidenav.page-
    .mat-sidenav-content > * > div
      margin-top: 40px
      margin-bottom: 55px + 40px
    .mat-toolbar, &.opened .mat-toolbar
      h1
        padding-left: 0

  //modal
  .mat-dialog-container
    border-radius: 0px !important
    
  .menu-item-nav 
    display: none
  
@media (max-width: 500px)
  .form-control
    //height: calc(2em + 0.75rem + 2px) !important
    font-size: 16px !important
  .mat-card-content
    font-size: 16px !important
  .section-button
    button
      width: 80% !important
  .form-login
    box-shadow: none !important
    margin-top: 0%
  .container-login-form
    padding: 2em 3em !important
  mat-card, .card
    box-shadow: none !important
    border-radius: .0em !important
    font-size: 16px
  .container
    padding-left: 0px !important
    padding-right: 0px !important
  .container-input-text
    width: 100%
  .container-input-text
    div
      width: 100%
  .cart-customer
    .mat-checkbox-disabled .mat-checkbox-label
      display: flex
      flex-wrap: wrap
      line-height: 1.2 
  label
    margin: 0rem .4rem 0rem 24px !important
  .title-item 
    margin: 0rem .4rem 0rem 0rem !important
 
    
  
