$borderColor: 0.5px solid rgba(0, 0, 0, 0.12);
$color: rgba(0, 0, 0, 0.54);
.listLevel {
  width: 40%;
  mat-card {
    border: $borderColor;
    max-height: 450px;
    min-height: 450px;
    padding: 0px !important;
    .allSelect {
      font-weight: 500;
    }
    mat-card-header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 16px;
      div {
        display: none !important;
      }
      .icon {
        color: $color;
        margin-right: 6px;
      }
    }
    .listLevel-content {
      max-height: 378px;
      overflow: auto;
      overflow-x: none;
      text-transform: uppercase;
    }
    .listLevel-content-assignment {
      max-height: 160px;
      max-width: 350px;
      overflow: auto;
      overflow-x: none;
    }
  }
}
.direccionListLevel {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20%;
  div {
    border: $borderColor;
    border-radius: 0.4em;
    display: flex;
    margin: 6px 0px;
    padding: 0.5em 1.5em;
  }
}

.content-list {
  margin-top: 9px;
}

@media (max-width: 700px) {
  .container-forms:nth-last-child(1) {
    flex-direction: column;
  }
  .listLevel {
    width: 100%;
  }
}
