.mat-dialog-container {
  padding: 15px 24px !important;
  position: relative;
  .dialog-close {
    cursor: pointer;
    display: block;
    height: 16px;
    min-width: 16px;
    padding: 0;
    position: absolute;
    right: 21px;
    top: 10px;
    width: 16px;
    &:focus {
      outline: none;
    }
    .mat-button-focus-overlay {
      display: none;
    }
  }
}
@media (max-width: 500px) {
  .cdk-overlay-pane {
    max-width: 90% !important;
  }
}
/* 
@media (min-height: 340px) {
  .mat-dialog-container {
    padding: 20px 30px !important;
    .mat-dialog-content {
      max-height: 150px;
    }
  }
}

@media (min-height: 400px) {
  .mat-dialog-container {
    margin: 30px !important;
    padding: 30px !important;
    .mat-dialog-content {
      max-height: 350px;
    }
  }
}
 */
