@import 'variables'

.mat-card.mat-card-form
  margin: 40px 0
  .mat-card-header
    align-items: center
    border-bottom: 1px solid $border-color
    display: flex
    justify-content: space-between
    padding: 5px 0
    width: 100%
    .mat-card-title
      color: $black
      font-size: 16px
      margin: 0
    button
      cursor: pointer
      label
        cursor: pointer
        margin: 2px 0 0 5px !important
        @media (max-width: 576px)
          display: none
  > .mat-card-content
    align-items: center
    color: $gray
    display: flex
    flex-flow: wrap
    margin: 16px
    label
      margin-right: 10px !important
    ul
      font-size: 11px
      list-style-type: disc
      list-style-position: inside
      margin-top: 16px
      padding: 0
    form
      width: 100%

.inline-form
  font-size: 14px
  margin-bottom: 20px
  width: 100%
  button
    font-size: 14px
    margin-right: 10px
    &.mat-primary[disabled]
      background-color: $button-bg-disabled !important
      color: #fff !important
  .mat-form-field-underline
    background-color: $border-color !important

@media (max-width: 500px)
  .inline-form
    .button-container
      margin: 0 15px