.mat-card
  .mat-card-header
    .mat-card-title
      @extend .uk-text-subheading

.mat-accordion
  .mat-expansion-panel-header
    @extend .uk-text-body-strong
  .mat-expansion-panel-header,
  .mat-expansion-panel-body
    padding: 0 16px

.mat-chip
  &.mat-danger
    background-color: $color-error
    color: #fff

.mat-card-alert
  border-top: 4px solid $color-highlight
  &.mat-card-alert-danger
    border-top-color: $color-error

.formSchemaError
  .mat-form-field-flex
    .mat-form-field-label-wrapper
      .mat-form-field-label
        color: $color-error
  .mat-form-field-underline
    .mat-form-field-ripple
      background-color: $color-error
      height: 1px
      opacity: 1
      transform: scaleX(1)
      transition: transform .3s cubic-bezier(.25,.8,.25,1), opacity .1s cubic-bezier(.25,.8,.25,1), background-color .3s cubic-bezier(.25,.8,.25,1)
