$color-base: rgba(49, 49, 49, 1);
$color-base2: rgba(49, 49, 49, .32);
$color-disabled: rgba(0, 0, 0, .64);
$color-disabled2: rgba(0, 0, 0, .32);
$color-placeholder: #ccc;
$color-highlight: rgba(0, 82, 139, 1);
$color-highlight2: rgba(0, 82, 139, .32);
$color-success: rgba(30, 195, 0, 1);
$color-success2: rgba(30, 195, 0, .32);
$color-info: rgba(255, 193, 7, 1);
$color-info2: rgba(255, 193, 7, .32);
$color-error: rgba(201, 33, 0, 1);
$color-error2: rgba(201, 33, 0, .32);
$color-background: rgba(255, 255, 255, 1);
$color-selected: rgba(0, 82, 139, 0.18);
.uk-text-headline {
  font-size: 24px;
  font-weight: 400;
}
.uk-text-title {
  color: $color-highlight;
  font-size: 20px;
  font-weight: 500;
}
.uk-text-subheading {
  font-size: 16px;
  font-weight: 500;
}
.uk-text-body {
  font-size: 14px;
  font-weight: 400;
}
.uk-text-body-strong {
  font-size: 14px;
  font-weight: 500;
}
.uk-text-label {
  font-size: 11px;
  font-weight: 400;
}
