// $color:#E0E0E0;
$color: #e0e0e0;
$borderBox: 0px 4px 15px #e0e0e0;
$border: 0.5px solid #e0e0e0;
$body-bg: #eee;
$colorSecondary: #1f3aa4;
$colorPrimary: #1f3aa4;
// $body-color: #111;
$button-bg: rgba(63, 81, 181, 1); // rgba(63, 81, 181, 1)
$button-bg-disabled: rgba(63, 81, 181, 0.34);
$light-blue: #1c61ab;
$gray: rgba(0, 0, 0, 0.54);
$black: rgba(0, 0, 0, 0.87);
$border-color: rgba(0, 0, 0, 0.12);
