<div style="padding: 10px;" fxLayout="column">
  <div fxLayout="row">
    <mat-form-field appearance="outline" fxFlex="70">
      <input matInput [(ngModel)]="searchText" placeholder="Buscar Aplicación">
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlexOffset="1" fxFlex>
      <mat-label>Tipo de Aplicación</mat-label>
      <mat-select (selectionChange)="selectTypeApplication($event.value)">
        <mat-option *ngFor="let typesApplication of typesApplications" [value]="typesApplication.value">
          {{typesApplication.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="20px" [style.margin-bottom]="'12px'">
    <mat-card class="card-aplicativo elevated clickable" matRipple *ngFor="let item of list | filter : searchText">
      <mat-card-header class="noclickable">
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{ item.nombre }}</mat-card-title>
        <button #r="matMenuTrigger" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item (click)="descargar(item.identificador)">
            <mat-icon>get_app</mat-icon>
            <span>Documentación</span>
          </button>
          <button mat-menu-item *ngIf="access.indexOf(item._id) > -1 && (roleUser === 'ADMIN_ROLE' || roleUser === 'ORG_ADMIN_ROLE')">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
        </mat-menu>
        <mat-card-subtitle>{{ item.plataforma }}</mat-card-subtitle>
      </mat-card-header>
      <div [routerLink]="['/aplicacion', item._id]">
        <p class="abreviatura-aplicativo" style="font-weight: bold;">{{item.identificador}}</p>
        <mat-card-content>
          <p style="font-weight: bold;">Objetivo</p>
          <p>
            {{ item.objetivo }}
          </p>
          <p style="display: inline-block;font-weight: bold;">Custodio :</p>
          <p style="display: inline-block;">{{ item.custodio }}</p>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>